#upper {
    background-image: url(../images/gallery/bghome.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar .nav-links .nav-item .nav-link {
    color: #FFFFFF !important;
}

#home .about-title {
    color: #FFFFFF !important;
}

.preloader {
    animation-delay: 2s !important;
}

.gallery-section {
    background-color: #131d32;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0;
}

.single-img {
    padding: 20px 20px 20px;
}

.single-img img {
    width: 400px;
    height: 300px;
}

.container_footer_utama {
    background-color: #ffffff !important;
    color: #131d32 !important;
}

.container_footer_utama .fotnav-link {
    background-color: #ffffff !important;
    color: #131d32 !important;
}

.container_footer_legal {
    background-color: #ffffff !important;
    color: #131d32 !important;
}